#buttons{
    margin: 100px;

}
#contact{
    float: right;

}

#about{
    margin-top: 100px;

}


li{
    display: inline-block;
    float: right;
    margin-left: 10px;
    font-size: x-large;

}

ul{
    list-style-type: none;
    overflow: hidden;

}

a{
    text-decoration: none;

}

body{
    max-width: 1300px;
    margin: auto;

}

iframe{
    float: right;

}
